{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Iniciar sesión{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <label for="username">Usuario</label>
        <input class="form-control" name="username" id="username" required>
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <label for="password">Contraseña</label>
        <input class="form-control" type="password" name="password" id="password" required>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <div class="col-md-3">
        <input type="submit" class="btn btn-primary form-control" value="Iniciar sesión">
      </div>
    </div>
  </form>
{% endblock %}